.container, header, header>div, .menu, .content, .slide, .sub-menu, .sub-menu-item, 
.sub-menu-item>div, .photo-frame, .photo-frame>a, .banner-frame, .banner-frame>a, footer, .copyright, footer>div { display: flex; } 

header, .content, .slide, .sub-menu, .sub-menu-item, .banner-frame, .banner-frame>a, .copyright { justify-content: center; }

.container { font-size: 14px; width: 100vw; height: 100vh; background-color: antiquewhite; flex-direction: column; flex-wrap: nowrap; align-items: center; overflow-x: hidden;} 

header { width: 100vw; height: 120px; background-color: aquamarine; } 

header>div { width: 100%; height: 100%; justify-content: space-between; max-width: 1700px; padding-left: 50px; padding-right: 50px; } 

.logo { width: 250px; height: 100%; background-color: beige; } 

.menu { flex-direction: column; justify-content: flex-end; margin-bottom: 10px; z-index: 999; margin-right: 80px; } 

.menu>ul>li { text-align: center; float: left; margin-left: 20px; margin-right: 20px; font-size: 1rem; height: 1rem; width: 7rem; overflow: hidden; } 

.menu>ul>li:hover { overflow: visible; } 

.menu>ul>li>ul>li { margin-top: 0.5rem; font-size: 1rem; } 

.content { flex-direction: column; } 

.slide { width: 100vw; height: 480px; background-color: cadetblue; } 

.slide-item { width: 100%; height: 100%; max-width: 1800px; background-color: chartreuse; } 

.sub-menu { width: 100vw; height: 300px; background-color: chocolate; } 

.sub-menu-item { width: 100%; height: 100%; max-width: 1800px; background-color: cornflowerblue; } 

.sub-menu-item>div { width: 30%; height: 100%; background-color: blueviolet; margin: 1px auto; margin-top: 0; flex-wrap: nowrap; flex-direction: column; } 

.sub-menu-item>div>.mini-title { width: 100%; margin-top: 10px; font-size: 1.5rem; font-weight: bold; margin-left: 10px; } 

.sub-menu-item>#notice>ul { margin-top: 10px; font-size: 1rem; font-weight: bold; } 

.photo-frame, .banner-frame { flex-grow: 1; width: 100%; height: 100%; margin-bottom: 15px; } 

.photo-frame { justify-content: space-evenly; } 

.photo-frame>a>img, .banner-frame>a>img { margin-top: 10px; }

.photo-frame>a { width: 30%; height: 100%; } 

.photo-frame>a>img { width: 100%; } 

.banner-frame>a { width: 100%; height: 100%; } 

.banner-frame>a>img { width: 95%; height: 80%; } 

footer { background-color: grey; width: 100%; justify-content: flex-end; flex-grow: 1; flex-direction: column; }

footer>div { width: 100%; height: 120px; justify-content: space-evenly; background-color: khaki; }

.copyright { background-color: indianred; font-size: 1.2rem; flex-direction: column; }

.sns-link { width: 250px; height: 100%; background-color: hotpink; }